<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Kanban</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div id="app">

    <div class="row nav">
        <li id="button-signUp" v-if="signUpToggle">Sign Up</li>
        <li id="button-signIn" v-if="signInToggle">Sign In</li>
        <a href="#" onclick="signOut();"><li id="button-signOut" v-if="signOutToggle">Sign out</li></a>
    </div>

    <div class="container register" id="registerBox" v-if="register_box">
        <div class="row">
          <div class="col-6">
            <div class="signUpForm-left">

            </div>
          </div>
          <div class="col-6">
            <div  id = "signUpForm" class="signUpForm">
                <h4> Sign Up </h4>
                <form id="form-signUp" action="" method="POST">
                    <label for="fname">Name:</label><br>
                    <input type="text" id="name" name="name" value=""><br>
                    <label for="fname">Email:</label><br>
                    <input type="text" id="register-email" name="email" value=""><br>
                    <label for="lname">Password:</label><br>
                    <input type="password" id="register-password" name="password" value=""><br><br>
                    <input type="submit" class="submit" id="button-signup-submit" value="Register">
                    <input type="submit" class="submit" id="button-backsignup-submit" value="Login" v-on:click="loginButton"> 
                </form> 
            </div>
          </div>
        </div>
      </div>

    <div class="container login" id="loginBox" v-if="login_box">
        <div class="row">
          <div class="col-6">
            <div class="signInForm-left">

            </div>
          </div>
          <div class="col-6">
            <div class = "signInForm" id ="signInForm">
                <form id="form-signIn" action="" method="POST">
                    <h4> Sign In </h4>
                    <label for="fname">Email:</label><br>
                    <input type="text" id="emailLogin" name="email" value="" required><br>
                    <label for="lname">Password:</label><br>
                    <input type="password" id="passwordLogin" name="password" value="" required><br><br>
                    <input type="submit" class="submit" id="button-signin-submit" value="Submit">
                  </form> 
                  <br>
                  <input type="submit" class="submit" id="button-back-submit" value="Register" v-on:click="registerButton"> 
                  <br>
                  <div class="g-signin2" data-onsuccess="onSignIn"></div>
                  <br>
                </div>
          </div>
        </div>
      </div>

    
    <div class="container kanban" id="taskList" v-if="kanban_box">
        <br>
        <h4>Your Task List</h4>
        <br>
        <div class="addtask">
            <input type="button" class="submit" value="Add Task" id="input-add-task">
        </div>
        <div class="row" >

            <div class="col-3 backlog">
                <div class="mr-1 p-1 color-container backlog" id="backlog">

                    <h3>Backlog</h3>

                    <div class="card" v-for="element in backlog">
                        <div class="card-body">
                          <p>{{ element.task }}</p>
                          <p>{{ element.description }}</p>
                          <div class="linkcard">
                            <a href="#" >Edit Task</a>
                            <a href="#" > Delete Task</a> 
                          </div>
                        </div>
                     </div>
                    

                </div>
            </div>

            <div class="col-3 todo">
                <div class="mr-1 p-1 color-container todo" id="todo">
                    <h3>Todo</h3>
                    <div class="card" v-for="element in todo">
                        <div class="card-body">
                          <p>{{ element.task }}</p>
                          <p>{{ element.description }}</p>
                          <div class="linkcard">
                            <a href="#" >Edit Task</a>
                            <a href="#" > Delete Task</a> 
                          </div>
                        </div>
                     </div>
                </div>
                
            </div>

            <div class="col-3 done">
                <div class="mr-1 p-1 color-container done" id="done">
                    <h3>Done</h3>
                    <div class="card" v-for="element in done">
                        <div class="card-body">
                          <p>{{ element.task }}</p>
                          <p>{{ element.description }}</p>
                          <div class="linkcard">
                            <a href="#" >Edit Task</a>
                            <a href="#" > Delete Task</a> 
                          </div>
                        </div>
                     </div>
                </div>                    
            </div>

            <div class="col-3 complete">
                <div class="mr-1 p-1 color-container complete" id="complete" >
                    <h3>Complete</h3>
                    <div class="card" v-for="element in completed">
                        <div class="card-body">
                          <p>{{ element.task }}</p>
                          <p>{{ element.description }}</p>
                          <div class="linkcard">
                            <a href="#" >Edit Task</a>
                            <a href="#" > Delete Task</a> 
                          </div>
                        </div>
                     </div>
                </div>
            </div>


        </div>
    </div>

    <div class="container getTask" id="getTask">


    </div>



    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>

        var app = new Vue({
            el: '#app',
            data:{
                card : [
                    { 
                      task: 'Learn Javascript',
                      description: 'Learning javascript on hacktiv8',
                      category : 'Backlog'
                    },
                    { task: 'Learn Vue',
                      description: 'Learning vue on hacktiv8',
                      category : 'Todo'
                    },
                    { task: 'Build something awesome',
                      description: 'Build an app on hacktiv8',
                      category : 'Done'
                    },
                    { task: 'Gradueate and get a job',
                      description: 'Graduate from hacktiv8 and get a job',
                      category : 'Completed'
                    }

                ],
                register_box : localStorage.token? false:true,
                kanban_box : localStorage.token? true:false,
                signOutToggle : localStorage.token? true:false,
                signUpToggle : localStorage.token? false:true,
                signInToggle : localStorage.token? false:true,
                login_box : false,
            },
            methods: {
                loginButton: function(){
                    this.register_box = false;
                    this.login_box = true;
                },

                registerButton: function(){
                    this.login_box = false;
                    this.register_box = true;
                }

            },
            computed:{
                backlog(){return this.card.filter((task) => task.category === "Backlog")},
                todo(){return this.card.filter((task) => task.category === "Todo")},
                done(){return this.card.filter((task) => task.category === "Done")},
                completed(){return this.card.filter((task) => task.category === "Completed")}
            }


        })

    </script>
</body>
</html>