<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Kanban</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div id="app">

    <div class="row nav">
        <li id="button-signUp" v-if="signUpToggle">Sign Up</li>
        <li id="button-signIn" v-if="signInToggle">Sign In</li>
        <li id="button-signOut" v-if="signOutToggle" v-on:click="logout">Sign out</li>
    </div>

    <div class="container register" id="registerBox" v-if="register_box">
        <div class="row">
          <div class="col-6">
            <div class="signUpForm-left">

            </div>
          </div>
          <div class="col-6">
            <div  id = "signUpForm" class="signUpForm">
                <h4> Sign Up </h4>
                <form id="form-signUp" action="" method="POST">
                    <label for="fname">Name:</label><br>
                    <input type="text" id="name" name="name" value="" v-model="nameRegister"><br>
                    <label for="fname">Email:</label><br>
                    <input type="text" id="register-email" name="email" value="" v-model="emailRegister"><br>
                    <label for="lname">Password:</label><br>
                    <input type="password" id="register-password" name="password" value="" v-model="passwordRegister"><br><br>
                    <input type="submit" class="submit" id="button-signup-submit" value="Register" v-on:click.prevent="register">
                    <input type="submit" class="submit" id="button-backsignup-submit" value="Login" v-on:click="loginButton"> 
                </form> 
            </div>
          </div>
        </div>
      </div>

    <div class="container login" id="loginBox" v-if="login_box">
        <div class="row">
          <div class="col-6">
            <div class="signInForm-left">

            </div>
          </div>
          <div class="col-6">
            <div class = "signInForm" id ="signInForm">
                <form id="form-signIn" action="" method="POST">
                    <h4> Sign In </h4>
                    <label for="fname">Email:</label><br>
                    <input type="text" id="emailLogin" name="email" value="" required v-model="emailLogin"><br>
                    <label for="lname">Password:</label><br>
                    <input type="password" id="passwordLogin" name="password" value="" required v-model="passwordLogin"><br><br>
                    <input type="submit" class="submit" id="button-signin-submit" value="Submit" v-on:click.prevent="login">
                  </form> 
                  <br>
                  <input type="submit" class="submit" id="button-back-submit" value="Register" v-on:click="registerButton"> 
                  <br>
                  <div class="g-signin2" data-onsuccess="onSignIn"></div>
                  <br>
                </div>
          </div>
        </div>
      </div>

    
    <div class="container kanban" id="taskList" v-if="kanban_box">
        <br>
        <h4>Your Task List</h4>
        <br>
        <div class="addtask">
            <input type="button" class="submit" value="Add Task" id="input-add-task" v-on:click="addButton">
        </div>
        <div class="row" >

            <div class="col-3 backlog">
                <div class="mr-1 p-1 color-container backlog" id="backlog">

                    <h3>Backlog</h3>

                    <div class="card" v-for="element in backlog">
                        <div class="card-body">
                          <p class="title">{{ element.title }}</p>
                          <p>{{ element.description }}</p>
                          <div class="linkcard">
                            <a href="#" >Edit Task</a>
                            <a href="#" > Delete Task</a> 
                          </div>
                        </div>
                     </div>
                    

                </div>
            </div>

            <div class="col-3 todo">
                <div class="mr-1 p-1 color-container todo" id="todo">
                    <h3>Todo</h3>
                    <div class="card" v-for="element in todo">
                        <div class="card-body">
                          <p class="title">{{ element.title }}</p>
                          <p>{{ element.description }}</p>
                          <div class="linkcard">
                            <a href="#" >Edit Task</a>
                            <a href="#" > Delete Task</a> 
                          </div>
                        </div>
                     </div>
                </div>
                
            </div>

            <div class="col-3 done">
                <div class="mr-1 p-1 color-container done" id="done">
                    <h3>Done</h3>
                    <div class="card" v-for="element in done">
                        <div class="card-body">
                          <p class="title">{{ element.title }}</p>
                          <p>{{ element.description }}</p>
                          <div class="linkcard">
                            <a href="#" >Edit Task</a>
                            <a href="#" > Delete Task</a> 
                          </div>
                        </div>
                     </div>
                </div>                    
            </div>

            <div class="col-3 complete">
                <div class="mr-1 p-1 color-container complete" id="complete" >
                    <h3>Complete</h3>
                    <div class="card" v-for="element in completed">
                        <div class="card-body">
                          <p>{{ element.task }}</p>
                          <p>{{ element.description }}</p>
                          <div class="linkcard">
                            <a href="#" >Edit Task</a>
                            <a href="#" > Delete Task</a> 
                          </div>
                        </div>
                     </div>
                </div>
            </div>


        </div>
    </div>

    <div class="container addTask" v-if="add_box">
        <div  id = "addTaskForm" class="addTaskForm">
            <h4> Add Task </h4>
            <form id="form-add" action="" method="POST">
                <label for="fname">Title:</label><br>
                <input type="text" id="title" name="title" value="" v-model="titleAdd"><br>
                <label for="fname">Description:</label><br>
                <input type="text" id="description" name="description" value="" v-model="descriptionAdd"><br>
                <label for="lname">Category:</label><br>
                <select id="Category" v-model="categoryAdd">
                    <option disabled selected>Select Category</option>
                    <option value="Backlog">Backlog</option>
                    <option value="Todo">Todo</option>
                    <option value="Done">Done</option>
                    <option value="Completed" selected>Completed</option>
                  </select><br><br>
                <input type="submit" class="submit" id="button-signup-submit" value="Add Task" v-on:click.prevent="addTask">
                <input type="submit" class="submit" id="button-backsignup-submit" value="Back" v-on:click="Back"> 
            </form> 
        </div>
    </div>

    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>

        var app = new Vue({
            el: '#app',
            data:{
                card : [],
                baseUrl : 'http://localhost:3000',
                token : localStorage.getItem('token'),
                register_box : localStorage.token? false:true,
                kanban_box : localStorage.token? true:false,
                signOutToggle : localStorage.token? true:false,
                signUpToggle : localStorage.token? false:true,
                signInToggle : localStorage.token? false:true,
                login_box : false,
                add_box : false,
                emailLogin : null,
                passwordLogin : null,
                nameRegister : null,
                emailRegister: null,
                passwordRegister : null,
                titleAdd : null,
                descriptionAdd : null,
                categoryAdd : null

            },
            methods: {
                loginButton: function(){
                    this.register_box = false;
                    this.login_box = true;
                },

                registerButton: function(){
                    this.login_box = false;
                    this.register_box = true;
                },

                addButton: function(){
                    this.kanban_box = false;
                    this.add_box = true;
                },

                Back: function(){
                    this.kanban_box = true;
                    this.add_box = false;
                },

                login: function(){
                    axios({
                        method: 'POST',
                        url : `${this.baseUrl}/user/login`,
                        data : {
                        email : this.emailLogin,
                        password : this.passwordLogin
                        }
                    })
                    .then(data=>{
                        console.log(data)
                        localStorage.setItem('token',data.data.token)
                        this.token = data.data.token
                    })
                    .catch(err=>{
                        console.log(err)
                    })
                },

                register: function(){
                    axios({
                        method: "POST",
                        url : `${this.baseUrl}/user/register`,
                        data : {
                            name : this.nameRegister,
                            email : this.emailRegister,
                            password : this.passwordRegister
                        }
                    })
                    .then(result=>{
                        this.login_box = true,
                        this.register_box = false
                    })
                    .catch(err=>{
                        console.log(err)
                    })
                },

                getTask: function(){
                    axios({
                        method: "GET",
                        url : `${this.baseUrl}/task`,
                        headers : {token: localStorage.getItem('token')}
                    })
                    .then(result=>{
                        console.log(result.data)
                        this.card = result.data
                    
                    })
                },

                addTask: function(){
                    axios({
                        method: "POST",
                        url : `${this.baseUrl}/task`,
                        headers : {token: localStorage.getItem('token')},
                        data : {
                            title : this.titleAdd,
                            description : this.descriptionAdd,
                            category : this.categoryAdd
                        }
                    })
                    .then(result=>{
                        this.add_box = false;
                        this.getTask()
                        this.kanban_box = true;
                    })
                    .catch(err=>{
                        console.log(err)
                    })
                },

                logout: function(){
                    localStorage.removeItem('token')
                    this.token = null,
                    this.login_box = false,
                    this.emailLogin = null,
                    this.passwordLogin = null,
                    this.nameRegister = null,
                    this.emailRegister= null,
                    this.passwordRegister = null
                }

            },
            computed:{
                backlog(){return this.card.filter((task) => task.category === "Backlog")},
                todo(){return this.card.filter((task) => task.category === "Todo")},
                done(){return this.card.filter((task) => task.category === "Done")},
                completed(){return this.card.filter((task) => task.category === "Completed")}
            },

            watch:{
                token : function(){
                    if(this.token !== null){
                        this.getTask()
                        this.kanban_box = true
                        this.register_box = false
                        this.kanban_box =  true
                        this.signOutToggle = true
                        this.signUpToggle = false
                        this.signInToggle = false
                        this.login_box = false
                        this.add_box = false
                        
                    } else{
                        this.kanban_box = false
                        this.register_box = true
                        this.kanban_box =  false
                        this.signOutToggle = false
                        this.signUpToggle = true
                        this.signInToggle = true
                    }
                }
            },

            created(){
                    if(this.token){
                        this.getTask()
                    } else{
                        console.log(error)
                    }
            }
                

        })

    </script>
</body>
</html>